<!DOCTYPE html>
html
  head
    title Main
    style.
      h1 {
        font-size: 100px;
        color: green;
      }
      body {
        background-color: orange;
      }
      .banner {
        background-color: #f2f2f2;
        padding: 14px;
        text-align: left;
      }
      .home-btn {
        position: absolute;
        top: 10px;
        right: 11px;
      }
      .query {
        position: absolute;
        top: -4px;
        left: 13px;
      }
      .comment-section {
        margin-top: 20px;
      }
      .comment {
        margin-bottom: 10px;
      }
  body
    .banner
      p.query= '검색어: ' + productname 
      a(href='/', class='home-btn') Home
    form(action='/search', method='get')
      button(type='submit', name='select', value='default') 정확도 순
      button(type='submit', name='select', value='expensive') 가격 높은 순
      button(type='submit', name='select', value='cheap') 가격 낮은 순
      each result in results
        div(style='display: flex; align-items: center;')
          div(style='margin-right: 20px;')
            a(href=result.link)
              img(src=result.image, width='200', height='200')
          div
            h2!= result.name
            p!= '카테고리: ' + result.category
            p!= '가격: ' + result.price
            p!= '판매처: ' + result.mallName
            p
              a(href=result.link) 웹사이트 이동
            .comment-section
              form(action=`/comment`, method='POST')
                input(type='text', name='comment', placeholder='댓글 입력')
                input(type='submit', value='댓글 달기')
              if (result.comments && result.comments.length > 0)
                each comment in result.comments
                  p.comment= comment
              else
                p.comment= '등록된 댓글이 없습니다.'
        hr
