doctype html
html
  head
    title Main
    style.
      h1 {
        font-size: 100px;
        color: green;
      }
      body {
        background-color: orange;
      }
      .banner {
        background-color: #f2f2f2;
        padding: 14px;
        text-align: left;
      }
      .home-btn {
        position: absolute;
        top: 10px;
        right: 11px;
      }
      .query {
        position: absolute;
        top: -4px;
        left: 13px;
      }
      .re_search {
        position: absolute;
        top: 10px;
        right: 65px;
      }
      .comment-section {
        margin-top: 20px;
        border: 1px solid white;
        padding: 10px;
        width: 700px; /* 추가: 박스의 너비를 500px로 고정 */
      }
      .comment {
        margin-bottom: 10px;
      }
      .rating-section {
        margin-top: 20px;
      }
  body
    .banner
      p.query= '검색어: ' + productname 
      a(href='/main', class='re_search') 다시 검색하러가기
      a(href='/', class='home-btn') Home
    form(action='/search', method='get')
      input(type='hidden', name='query', value=productname)
      button(type='submit', name='select', value='default') 정확도 순
      button(type='submit', name='select', value='expensive') 가격 높은 순
      button(type='submit', name='select', value='cheap') 가격 낮은 순
    each result in results
      div(style='display: flex; align-items: center;')
        div(style='margin-right: 20px;')
          a(href=result.link)
            img(src=result.image, width='200', height='200')
        div
          h2!= result.name
          p!= '카테고리: ' + result.category
          p!= '가격: ' + result.price
          p!= '판매처: ' + result.mallName
          p
            a(href=result.link) 웹사이트 이동
          .comment-section
            form(action=`/search/comment`, method='get')
              input(type='hidden', name='itemName', value=result.name)
              input(type='text', name='comment', placeholder='댓글 입력')
              input(type='submit', value='댓글 달기')
            if (result.comments && result.comments.length > 0)
              each comment, index in result.comments
                div(style='background-color: white; padding: 10px;')
                  p.comment= '평가: ' + comment
                  p.commenter= 'ID: ' + result.commenters[index] + ',     작성일: ' + result.created_ats[index].toLocaleString('ko-KR', { timeZone: 'Asia/Seoul', hour12: true })
            else
              div(style='background-color: white; padding: 10px;')
                p.comment= '등록된 댓글이 없습니다.'
          .rating-section
            form(action=`/search/rating`, method='get')
              input(type='hidden', name='itemName', value=result.name)
              if(result.raiting!=NULL)
                span.raiting ★ : #{result.raiting.toFixed(2)}점
              else
                span.raiting 등록된 평점이 없습니다.
              select(name='rating')
                option(value='1') 1점
                option(value='2') 2점
                option(value='3') 3점
                option(value='4') 4점
                option(value='5') 5점
              input(type='submit', value='평점 남기기')
    hr
